:root {
  font: 16px / 1 sans-serif;
  font-family: 'Mate', serif;
}

html {
  height: 100%;
}
header {
  border: thin solid lightgrey;
}
h1 {
  color: grey;
  padding: 20px;
  font-size: 45px;
}
body {
  margin: 0;
  min-height: 100%;
}

button:hover {
  background-color: rgb(185, 185, 185);
  cursor: pointer;
}
input {
  width: 240px;
  margin-bottom: 10px;
  margin-top: 40px;
  margin-left: 70px;
  padding: 10px;
  font-size: 20px;
  border: solid lightgrey;
  border-radius: 1rem;
}

ul {
  // display: flex;
  // flex-wrap: wrap;
  // margin-left: 100px;
  // justify-content: flex-start;
}
li {
  list-style: none;
  line-height: 30px;
  margin-left: 30px;
  font-size: 20px;
  // border: thin solid rgb(241, 241, 241);

  padding: 10px;
  height: 40px;
  width: 200px;
}
